body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("images/neon.jpg");
  background-size: cover; /* Ensures the background covers the whole screen */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* Nav Section */
.navbar {
  display: flex;
  font-family: "Staatliches", sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  border-bottom: 2px solid rgb(39, 253, 245);
  line-height: 0.6;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 10px; /* Reduce margin to bring items closer together */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove the margin from the last item */
}

.nav-links li a {
  font-family: "Staatliches", sans-serif;
  font-size: 2rem; /* Increase font size */
  font-weight: 700; /* Make it bold to match the look */
  color: #00ffff; /* Bright cyan color */
  text-transform: uppercase;
  letter-spacing: 0.05rem; /* Reduce letter spacing */
  text-decoration: none;
}

.nav-links li a:hover {
  color: #00d7d7; /* Slightly change the hover color */
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* Styling for each icon and label container */
.icon-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the icon links */
.social-icons a {
  color: #ff0090; /* Adjust icon color as needed */
  text-decoration: none;
  font-size: 2rem;
}

/* Styling for the text labels */
.icon-label span {
  margin-top: 0.5rem;
  color: #00ffff; /* Adjust text color */
  font-size: 0.9rem;
  text-align: center;
}

.social-icons a:hover {
  color: #00ffee; /* Adjust hover color as needed */
}

/* Header Section */
header {
  padding: 1rem 0;
  text-align: center;
}

.reggae-one-regular {
  /* font-family: "Reggae One", system-ui; */
  font-family: "Neon Future", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  color: rgb(39, 253, 245);
  margin-bottom: 0.5rem;
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 0px 0px 5px rgba(39, 253, 245, 0.7),
    0px 0px 10px rgba(39, 253, 245, 0.5);
  -webkit-font-smoothing: antialiased; /* Webkit-based browsers (e.g., Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Firefox on Mac */
}

/* Specific styling for the Full Stack Developer header */
header .fsd {
  color: rgb(255, 61, 170);
  text-shadow: 0px 0px 5px rgba(255, 61, 170, 0.7),
    0px 0px 10px rgba(255, 61, 170, 0.5);
  -webkit-font-smoothing: antialiased; /* Webkit-based browsers (e.g., Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Firefox on Mac */
}

/* Animation for blinking effect */
.blinking {
  animation: flicker 9s infinite alternate;
}

.blinking-2 {
  animation: flicker 8s infinite alternate;
  animation-delay: 1s;
}

/* Keyframes for realistic flicker/blink effect */
@keyframes flicker {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 1;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0;
  }
}

#projects {
  margin: 2rem;
}

/* About Section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  border: 5px solid #00ffff;
  border-radius: 10px;
  width: 100%;
  max-width: 294px;
}

.content {
  flex: 1;
  text-align: left;
  padding: 20px;
  color: white;
}

.content h1 {
  font-size: 3rem;
  color: #00ffff;
  margin-bottom: 20px;
}

.content h1 span {
  font-size: 3rem;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  font-size: 1.2rem;
  margin: 10px 0;
}

.content ul li span {
  margin-right: 10px;
}

/* Projects Section */
#projects {
  padding: 2rem;
  background-color: #fff;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  background-color: #ddebf8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: calc(33% - 2rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card h3 {
  margin-top: 0;
}

.project-card a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  color: #d8cefe;
}

/*Contact Section*/
#contact {
  padding: 50px 0;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.reggae-one-regular {
  font-size: 3rem;
  color: #ff00ff;
  text-shadow: 0 0 0px #ff00ff, 0 0 0px #ff00ff, 0 0 15px #ff00ff,
    0 0 20px #ff00ff;
  /*animation: blink 3s infinite;*/
}

.contact-form {
  background-color: #333;
  padding: 20px;
  border: 2px solid #00ffff;
  display: inline-block;
  border-radius: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #00ffff;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  background-color: transparent;
  border: 2px solid #ff00ff;
  color: #ff00ff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #ff00ff;
  color: #fff;
}
